<div class="content" role="main">
  <mat-card>
    <mat-card-title>
      <h1>Lets fix that extruder steps/mm!</h1>
    </mat-card-title>
    <mat-card-content>

      <form (ngSubmit)="calculate(form)" [formGroup]="form" class="form">

        <mat-form-field appearance="standard">
          <mat-label>Current extruder steps/mm</mat-label>
          <input #currentSteps formControlName="currentSteps" inputmode="decimal" matInput placeholder="93.5">
          <mat-hint>This should be retrieved from your printer configurations</mat-hint>
          <mat-error>Current steps is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Current extruded length (mm)</mat-label>
          <input #currentLength formControlName="currentLength" inputmode="numeric" matInput placeholder="100">
          <mat-hint>How much filament the printer extruded</mat-hint>
          <mat-error>Current extruded is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Required extrusion length</mat-label>
          <input #reqExtrusion formControlName="reqExtrusion" inputmode="numeric" matInput placeholder="100">
          <mat-hint>How much you asked for the printer to extrude</mat-hint>
          <mat-error>Required extrusion is required</mat-error>
        </mat-form-field>

        <div align="end" mat-dialog-actions>
          <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Submit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
